src/main/mule/eai.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f75cd44b-aea3-4880-921f-cf26b0034138" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="eaiFlow1" doc:id="e6dea08e-892f-4268-af4b-aa441aebc5eb" >
		<http:listener doc:name="Listener" doc:id="27673cff-469d-4520-80ca-fd4386ae106f" path="/startflow" config-ref="HTTP_Listener_config"/>
		<set-variable value='"Test"' doc:name="Set Variable" doc:id="11492b2a-9de5-44ca-abf7-c8c3cd3a8675" variableName="X"/>
		<set-payload value="#[output text/plain
---
vars.X]" doc:name="Set Payload" doc:id="8a217a1c-41be-475a-bec2-07d0ef16c9ef" />
	</flow>
</mule>
