src/main/mule/eail2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<jms:config name="JMS_Config">
	 <jms:active-mq-connection >
	  <jms:factory-configuration brokerUrl="tcp://localhost:61616" />
	 </jms:active-mq-connection>
	</jms:config>
	<wsc:config name="QBUZZ_Webserver" doc:name="Web Service Consumer Config" doc:id="e2a89fdb-c134-4900-894c-0fa4fc6e01da" >
		<wsc:connection wsdlLocation="http://localhost:8888/QBUZZServices?wsdl" service="QbuzzServicesService" port="QbuzzServicesPort" address="http://localhost:8888/QBUZZServices" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0c528b5e-2c8f-451f-8c3c-c21cfff7bdbb" >
		<wsc:connection wsdlLocation="http://localhost:8888/QBUZZServices?wsdl" service="QbuzzServicesService" port="QbuzzServicesPort" address="http://localhost:8888/QBUZZServices" />
	</wsc:config>
	<flow name="eail2Flow1" doc:id="123962ba-9be5-45fc-b686-0c54ac8471ad" >
		<jms:listener doc:name="On New Message" doc:id="96a49e36-2157-40a5-8fc0-211753969fdd" destination="ARRIVALOGGER1" ackMode="AUTO" config-ref="JMS_Config" inboundContentType="application/xml">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<foreach doc:name="For Each" doc:id="55dc80a3-e189-4c84-b9fb-4868160ca30a" collection="#[payload.Bericht.ETAs]" counterVariableName="etas">
			<set-payload value="#[output application/xml
---
payload]" doc:name="Set Payload" doc:id="ba343db4-d09f-4515-b537-ddfd7e3ae8d1" />
			<set-variable value="#[%dw 2.0
output text
---
(payload.ETA.halteNaam) ++ (payload.ETA.richting as String)]" doc:name="Set Variable" doc:id="5d70e418-fb50-46ea-baaa-a7b9c2684803" variableName="halte" />
			<ee:transform doc:name="Transform Message" doc:id="ca8ae6f3-c993-46af-9af8-cc5c789c1408">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	tijd: vars.rootMessage.payload.Bericht.tijd,
	aankomsttijd: payload.ETA.aankomsttijd,
	lijnNaam: vars.rootMessage.payload.Bericht.lijnNaam,
	busID: vars.rootMessage.payload.Bericht.busID,
	bedrijf: vars.rootMessage.payload.Bericht.bedrijf,
	eindpunt: vars.rootMessage.payload.Bericht.eindpunt
}
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<jms:publish doc:name="Publish" doc:id="6163f26d-6c61-4308-b392-2388d22b799c" config-ref="JMS_Config" destination="INFOBORD" />
		</foreach>
	</flow>
	<flow name="Copy_of_eail2Flow" doc:id="85c8360b-a932-4a8a-964b-5dd2d826f8d5" >
		<jms:listener doc:name="Copy_of_On New Message" doc:id="2c5d7eee-5b3f-4a19-a05e-53ca95fb98be" config-ref="JMS_Config" destination="Hallo" ackMode="AUTO" inboundContentType="application/xml" >
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-variable value="#[payload]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="7246d77c-0c52-44ab-98cd-3b69dc0d69f9" variableName="Busgegevens" />
		<foreach doc:name="Copy_of_Copy_of_Copy_of_For Each" doc:id="e36041db-403e-42f1-a1eb-91c863203efc" collection="#[payload.Bericht.ETAs]" counterVariableName="etas" >
			<set-variable value="#[%dw 2.0
output application/xml
---
payload]" doc:name="Copy_of_Copy_of_Copy_of_Set Variable" doc:id="16a21285-7311-4121-9955-5aa94dcfa158" variableName="ETAVerwerk" />
			<logger level="INFO" doc:name="Logger" doc:id="bfd522ce-1481-4fb6-9b7c-2f6c79476cd4" message="#[payload]" />
			<logger level="INFO" doc:name="Logger" doc:id="42873613-2260-44de-b088-85a702005d1c" message="#[vars.ETAVerwerk]"/>
			<async doc:name="Copy_of_Async" doc:id="2977b9a1-db6d-4e1b-a2db-e41fd1339035" >
				<choice doc:name="Copy_of_Copy_of_Choice" doc:id="3873efaf-b33d-4393-a1a1-117a820939ea" >
					<when expression='#[vars.Busgegevens.Bericht.bedrijf == "QBUZZ" and vars.ETAVerwerk.ETA.aankomsttijd != 0 and vars.Busgegevens.Bericht.eindpunt != vars.ETAVerwerk.ETA.halteNaam]' doc:id="4f9a75a8-5e07-4242-badb-9abbe8c2b612" >
						<ee:transform doc:name="Transform Message" doc:id="11d1017d-c1ba-4bab-a82d-d860cfa61b69">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
haltebericht: {
	busID: vars.Busgegevens.Bericht.busID,
	lijn: vars.Busgegevens.Bericht.lijnNaam,
	halte: vars.ETAVerwerk.ETA.halteNaam,
	tijd: vars.Busgegevens.Bericht.tijd,
	eindpunt: vars.Busgegevens.Bericht.eindpunt
}
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume doc:name="Consume" doc:id="d93a1b69-a7c7-4ab0-b976-634aa01ab747" config-ref="Web_Service_Consumer_Config" operation="receiveBusBijHalte" target="haltebericht">
							<wsc:message >
								<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns con http://soapserver.qbuzz.com/
---
con#receiveBusBijEindpunt: payload]]]></wsc:body>
							</wsc:message>
							<wsc:message-customizations forceXMLProlog="true" />
						</wsc:consume>
						<logger level="INFO" doc:name="Copy_of_Logger" doc:id="848cd316-20f3-4d36-9be3-f294373c9e4b"/>
					</when>
					<when expression='#[vars.Busgegevens.Bericht.Bedrijf == "QBUZZ" and vars.ETAVerwerk.ETA.aankomsttijd == 0 and sizeOf(vars.Busgegevens.Bericht.ETAs) == 1]' >
						<ee:transform doc:name="Copy_of_Copy_of_Copy_of_Copy_of_Transform Message" doc:id="f8e20844-e4c3-4b16-831f-c6ce7e1a2b8d">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
aankomstbericht:{
	busID: vars.Busgegevens.Bericht.busID,
	lijn: vars.Busgegevens.Bericht.lijnNaam,
	eindpunt: vars.Busgegevens.Bericht.eindpunt,
	aankomsttijd: vars.ETAVerwerk.aankomsttijd
}
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume operation="receiveBusBijEindpunt" doc:name="Copy_of_Copy_of_Copy_of_Consume" doc:id="27ecbb6f-3eb8-4eac-b226-3b2a66eaaa17" config-ref="Web_Service_Consumer_Config" >
							<wsc:message >
								<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns con http://soapserver.qbuzz.com/
---
con#receiveBusBijEindpunt: payload]]]></wsc:body>
							</wsc:message>
						</wsc:consume>
						<logger level="INFO" doc:name="Copy_of_Logger" doc:id="932ef8c6-fe36-4842-b35b-33916136f7d6" message="#[payload]" />
					</when>
					<when expression='#[vars.Busgegevens.Bericht.bedrijf == "QBUZZ" and vars.Busgegevens.Bericht.bedrijf != "QBUZZ"]' >
						<ee:transform doc:name="Copy_of_Copy_of_Copy_of_Copy_of_Transform Message" doc:id="4c8aa90e-3562-457e-a8e7-bbd87d188d1b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
Bericht:{
	lijnNaam: vars.Busgegevens.Bericht.lijnNaam,
	bedrijf: vars.Busgegevens.Bericht.lijnNaam,
	eindpunt: vars.Busgegevens.Bericht.eindpunt,
	busID: vars.Busgegevens.Bericht.busID,
	tijd: vars.Busgegevens.Bericht.tijd,
	aankomsttijd: vars.ETAVerwerk.aankomsttijd,
	ETAs: vars.Busgegevens.Bericht.ETAs
}

]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<wsc:consume operation="logEtas" doc:name="Copy_of_Copy_of_Copy_of_Copy_of_Consume" doc:id="a8224258-8544-47b7-b3fd-24ebb89c55b2" config-ref="Web_Service_Consumer_Config" >
							<wsc:message >
								<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns con http://soapserver.qbuzz.com/
---
con#receiveBusBijEindpunt: payload]]]></wsc:body>
							</wsc:message>
						</wsc:consume>
						<logger level="INFO" doc:name="Copy_of_Logger" doc:id="47ef5a7e-2f71-4713-a8f9-6def30b89c25" message="#[payload]" />
					</when>
					<otherwise >
						<ee:transform doc:name="Copy_of_Copy_of_Copy_of_Copy_of_Copy_of_Copy_of_Transform Message" doc:id="50ee8e91-3e9f-42a0-a6d0-ecbe8b7f6a23" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	tijd: vars.rootMessage.payload.Bericht.tijd,
	aankomsttijd: payload.ETA.aankomsttijd,
	lijnNaam: vars.rootMessage.payload.Bericht.lijnNaam,
	busID: vars.rootMessage.payload.Bericht.busID,
	bedrijf: vars.rootMessage.payload.Bericht.bedrijf,
	eindpunt: vars.rootMessage.payload.Bericht.eindpunt
}
]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</async>
			<jms:publish doc:name="Copy_of_Publish" doc:id="35072353-9fec-4b8a-b99a-30e2a0527110" config-ref="JMS_Config" destination="INFOBORD" destinationType="TOPIC" />
		</foreach>
	</flow>

</mule>
